* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: #2f4353;
  background-image: linear-gradient(90deg, #28313b, #485461 );
  margin: 0;
  font-family: 'Roboto', sans-serif;
}